<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="appStyle.css" type="text/css" media="screen" />
    <title>Optic Store</title>
</head>
<body>
<!-- Header -->
<header>
    <h1>Optic Store</h1>
</header>
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">OpticStore</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Store locator</a></li>
        </ul>
    </div>
</nav>
<!-- Introduction -->
<section id="intro">
    <img src="../images/Intro.png" alt="intro" />
</section>
<!-- Main body -->
<div id="mainContent">
</div>
<aside>
    <h4>Epcot Center</h4>
    <p>The Epcot Center is a theme park in Disney World, Florida.</p>
</aside>
<!-- Footer -->
<footer>
    <div id="footer">
        <section id="footer-about">
            <header>
                <h3>About</h3>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
        </section>
        <section id="footer-products">
            <header>
                <h3>Products</h3>
            </header>
            <ul>
                <li><a href="#">Sunglasses</a></li>
                <li><a href="#">Eyeglasses</a></li>
            </ul>
        </section>
        <section id="footer-popular">
            <header>
                <h3>Popular</h3>
            </header>
            <ul>
                <li><a href="#">This is the title of a blog post</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
            </ul>
        </section>
    </div>
</footer>
</body>
</html>