<canvas id="myCanvas" width="490" height="100" style="border:0px;">
   Your browser does not support the HTML5 canvas tag.
</canvas>

<br/>
<p>
   In our store, you will find many glasses which belongs to the most favorite brands! <br/>
   In the following table, you can see how many models we have of each brand:
</p>
<table class="table" onload="getGlassesByBrand()">
   <tr *ngFor="let glass of glassesByBrand">
      <th>
         {{glass._id}}
      </th>
      <th>
         {{glass.count}}
      </th>
   </tr>
</table>

<p>
   Watch our new paper-thin titanium glasses:
</p>
<iframe width="420" height="345"
        src="https://www.youtube.com/embed/_ZH_IcRJivg">
</iframe>

<div id='fb-root'></div>
<div>
   <p>
      <a href="javascript:;" target="_blank" >
         <p>Share our website on facebook: </p>
         <img src="https://simplesharebuttons.com/images/somacro/facebook.png" (click)="postToFeed()" alt="Facebook"/>
      </a>
   </p>
</div>
