<h1>About</h1>

<canvas id="myCanvas" width="450" height="100" style="border:0px;" onload="loadCanvas()">
   Your browser does not support the HTML5 canvas tag.
</canvas>

<br/>
<p>
   In our store, you will find many glasses which belongs to the most favorite brands! <br/>
   In the following table, you can see how many models we have of each brand:
</p>
<table class="table" onload="getGlassesByBrand()">
   <tr *ngFor="let glass of glassesByBrand">
      <th>
         {{glass._id}}
      </th>
      <th>
         {{glass.count}}
      </th>
   </tr>
</table>
